ul {
  list-style: none;
  padding: 8px;
  border: 2px solid white;
  margin: 24px;
  max-height: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 24px;

  > li {
    border: 2px solid white;
    margin: 4px;
    border-radius: 16px;
  }
}
